page-jueves {
    ion-content {
        background-image: url("../../assets/imgs/fondoProline.png");
        background-repeat: no-repeat ;
        background-size: cover ;
        background-position: center ;
        width: 100% ;
        position: absolute ;
        border: none ;
    }
    .btn {
        margin-bottom: 35px;
        
    }
}
